<!DOCTYPE html>
<html>
<head>
	<title>ACC Project Management</title>
</head>
<body>

	<%= render 'layouts/navigation' %>

	<h3>Statistics:</h3>
	<p>Members: <%= User.count %></p>
	<p>Projects: <%= Project.count %></p>

	<h3>Notifications:</h3>
	<% @projects.each do |project| %>
		<div>
			<%= link_to project.name, edit_project_path(project) %>
		</div>
	<% end %>

</body>
</html>