<!DOCTYPE html>
<html>
<head>
	<title>ACC Project Management</title>
</head>
<body>

	<%= render 'layouts/navigation' %>

	<div class="container">
		<div id="user_profile">
			<div class="row">
				<div class="col-12 col-md-4"><i class="fas fa-user fa-10x" id="user_image"></i></div>
				<div class="col-md-8">
					<div id="user_info">
						<h3><strong>Profile</strong></h3>
						<ul>
							<li>Name: 
								<%= @user.name %>
							</li>
							<li>Status: 
								<% if current_user.is_admin %>
									Admin
								<% else %>
									Member
								<% end %>
							</li>
							<li>Projects: </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>