<!DOCTYPE html>
<html>
<head>
	<title>Create New project</title>
</head>
<body>
	<%= render 'layouts/navigation' %>
	
	<div id="add_project_container">
	    <h1 id="add_projects_header">Add New Project</h1>
	    	<div id="add_project_form">
	    		<%= render 'form' %>
    		</div>
	</div>	

</body>
</html>