<!DOCTYPE html>
<html>
<head>
	<title>Create New project</title>
</head>
<body>
<%= render 'layouts/navigation' %>


   
	
<div id="limiter">
    <h1 id="add_projects_header">Add New Project</h1>
    <div class="container-login100">
			<div class="wrap-login100 p-l-130 p-r-100 p-t-45">
    <%= render 'form' %>
            </div>
    </div>
</div>	


</body>
</html>