@import "material";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

html {
    height: 100%;
}

// HOME PAGE
#home {
    padding: 0;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(background4.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(background4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

p {
    color: white;
}

#logo {
    width: 15%;
    height: auto;
    margin-bottom: 10px;
}

#index_page_content {
    text-align: center;
    margin-top: 5%;
}

#client_name_display {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 400;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;

    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
}

#project_name_display {
    font-size: 110%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: white;

    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
}

#sign_in_btn {
	padding: 0;
	margin-bottom: 20px;
	outline: 2px solid #fff;
	border-radius: 5%;
	transition: 0.3s ease;
}

#sign_in_btn:hover {
	outline: 3px solid rgb(2,136,209);
	border-radius: 5%;
	transition: 0.3s ease;
}

// NAVIGATION BAR
.bg-dark {
    background-color: rgb(36,41,46) !important;
}

// USER - PROFILE PAGE
#user_profile {
    margin-top: 10%;
}

#user_profile ul {
    padding: 0;
}

#user_profile li {
    list-style-type: none;
}

#user_image {
    margin: 0 30% 10% 30%;
    border: 2px solid #000;
    padding: 10px;
}

// USER - DISPLAY PROJECTS PAGE
#accordion .btn-link {
    color: rgb(2,136,209);
}

#available_projects_header {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: rgb(36,41,46);
}

#add_proj_btn {
    margin-top: 3%;
    margin-bottom: 5%;
    float: right;
}

#limiter {
  width: 100%;
  margin: 0 auto;
   background-color: #808080;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    height: 100vh;
   
}

.wrap-login100 {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  position: relative;
  filter: alpha(opacity=225);
  align-items: center;
  justify-content: center;
}

#add_projects_header {
    padding-top: 15px;
    text-align: center;
    color: rgb(255,255,255);
}

.btn-primary {
    background: #4CAF50;
    color: rgb(0,0,0);
}

.container-form{
    padding-top: 45px;
    padding-left: 15px;
}

.control-label{
    color: #000000;
}