@import "material";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  	font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #ecf0f1;
}

html {
    height: 100%;
}

// HOME PAGE
#home {
    padding: 0;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(background4.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(background4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

#disclaimer {
    color: white;
}

#logo {
    width: 15%;
    height: auto;
    margin-bottom: 10px;
}

#index_page_content {
    text-align: center;
    margin-top: 5%;
}

#client_name_display {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 400;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
}

#project_name_display {
    font-size: 110%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: white;

    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
}

#sign_in_btn {
	padding: 0;
	margin-bottom: 20px;
	outline: 2px solid #fff;
	border-radius: 5%;
	transition: 0.3s ease;
}

#sign_in_btn:hover {
	outline: 3px solid rgb(2,136,209);
	border-radius: 5%;
	transition: 0.3s ease;
}

// NAVIGATION BAR
.bg-dark {
    background-color: #2c3e50 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

// USER - PROFILE PAGE
#user_profile {
    margin-top: 5%;
}

#user_image {
    margin-bottom: 10%;
    color: #0C1F49;
    border: 2px solid #2c3e50;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#user_info_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255,255,255);
  margin-right: 5%;
  margin-bottom: 5%;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#user_info_heading {
  background-color: #2c3e50;
  color: rgb(255,255,255);
  padding-left: 3%;
  margin-bottom: 5%;
}

#user_info_contents {
  padding-left: 3%;
}

.data_heading {
  font-weight: bold;
}

#user_proj_display {
  margin: 1% 2% 2% 5%;
}

#user_proj_display a {
  color: #2c3e50;
}

.proj_display_link {
  margin-bottom: 1%;
}


// DISPLAY PROJECTS PAGE
#accordion .btn-link {
    color: #2C3E50;
}

#available_projects_header {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #2c3e50;
    text-shadow:    0px 4px 3px rgba(0,0,0,0.2),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
}

#add_proj_btn {
  margin-top: 2%;
  float: right;
  margin-bottom: 5%;
  background-color: #173664;
}

.card-body {
  margin: 0 2%;
}

.mb-0 {
  padding-bottom: 0;
}

.proj_icon {
  margin-right: 5%;
}

#delete_proj_btn {
  float: right;
  margin: 2% 1%;
}

#join_proj_btn {
  float: right;
  margin: 2% 0;
}

// ADD NEW PROJECT PAGE
#add_project_container {
  width: 55%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 2px solid rgb(255,255,255);
  background-color: rgb(255,255,255);
}

#add_projects_header {
    background-color: #2c3e50;
    color: rgb(255,255,255);
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
    font-size: 200%;
}

#add_project_form {
  padding: 0 2%;
}

.panel.panel-danger {
  margin-left: 5%;
}

#create_proj_btn, #cancel_create_proj_btn {
  margin-top: 3%;
  margin-bottom: 3%;
}


// ADMIN PAGE
#admin_info_container {
  margin-top: 5%;
}

#stat_panel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid rgb(255,255,255);
  background-color: rgb(255,255,255);
  margin-right: 10%;
  margin-bottom: 5%;
}

#stat_heading {
  background-color: #2c3e50;
  color: rgb(255,255,255);
  padding-left: 5%;
  margin-bottom: 5%;
}

#stat_container {
  padding-left: 5%;
}

#proj_panel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid rgb(255,255,255);
  background-color: rgb(255,255,255);
  margin-right: 10%;
  margin-bottom: 5%;
  height: 520px;
  overflow-y: scroll;
}

#notif_heading {
  background-color: #2c3e50;
  color: rgb(255,255,255);
  padding-left: 5%;
  margin-bottom: 5%;
}

#projs_container {
  padding-left: 5%;
}

#projs_container a {
  color: #2c3e50;
}

.proj_specific_info {
  margin: 1% 0;
}

#member_directory_btn {
  background-color: #173664;
  margin-bottom: 5%;
}

// EDIT PROJECT PAGE
#edit_proj_form_container {
  width: 90%;
  margin: 0 auto 5% auto;
  background-color: rgb(255,255,255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#proj_proposal_header {
margin: 5% 0 3% 3%;
padding-top: 3%;
color: #2c3e50;
text-shadow:    0px 4px 3px rgba(0,0,0,0.2),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

#edit_proj_form {
  margin: 0 1%;
}

#edit_form_textarea {
  margin-bottom: 3%;
}

#accept_proj_btn,
#reject_proj_btn,
#cancel_proj_proposal_btn {
  margin-bottom: 3%;
}

// MEMBER LISTING PAGE
#member_listing_header {
  margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #2c3e50;
    text-shadow:    0px 4px 3px rgba(0,0,0,0.2),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
}

.member_directory_info {
  background-color: rgb(255,255,255);
  margin: 0;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user_name a {
  color: #2c3e50;
}

.btns {
  float: right;
}

.user_icon {
  margin-right: 1%;
}

#make_admin_btn,
#revoke_admin_btn,
#delete_user_btn {
  margin-bottom: 1%;
}

#revoke_admin_btn {
  background-color: #173664;
  color: rgb(255,255,255);
} 

// SHOW INDIVIDUAL PROJECT PAGE
#show_proj_container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 2px solid rgb(255,255,255);
  background-color: rgb(255,255,255);
}

#show_proj_header {
  background-color: #2c3e50;
    color: rgb(255,255,255);
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
    font-size: 150%;
}

#show_proj_content {
  padding: 0 2%;
  margin-bottom: 5%;
}

#back_btn {
  margin-right: 10%;
  background-color: #173664;
  color: rgb(255,255,255);
  float: right;
}